body, html {
  width: 100%;
  margin: 0;
}

.bg {
  /* background-image: url("/src/image/IMG_2644.jpg"); */
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dock {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.dock ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(180, 34, 34);
}

.dock li {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
