/* --------- Main ----------- */
body, html {
  width: 100%;
  margin: 0;
  overflow: auto;
}

#wrapper {
  background-color: aqua;
}

.bg {
  width: 100%;
  position: fixed;
  /* background-position: center; */
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-attachment: fixed;
  overflow: auto;
}

.dock {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.dock ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(180, 34, 34);
}

.dock li {
  float: left;
  display: block;
  margin: 0 auto;
  color: black;
  padding: 14px 16px;
}

.dock img {
  height: 40px;
}


/* ---------- Desktop Window ------------- */
#moveme {
  position: absolute;
  z-index: 1;
  background-color: rgb(196, 245, 253);
  border: 1px solid black;
  text-align: center;
  min-width: 250px;
}

#closebutton {
  float: left; 
  background-color: rgb(248, 7, 55); 
  height: 10px;
}

.moveheader {
  padding: 5px;
  z-index: 2;
  background-color: #760dd8;
  touch-action: none;
  user-select: none;
  text-align: center;
}

/* ------------- Chat ------------- */
#messages p {
  text-align: left;
  font-size: 13px;
  margin-left: 5px;
  width: 240px;
}

#chat {
  background-color: rgb(233, 252, 228);
}

#messagebox {
  width: 200px;
  float: left;
  margin: 5px;  
  overflow: auto;
}

#messages {
  overflow: auto;
  height: 300px;
}

#user {
  padding: 2px;
  z-index: 10;
  background-color: rgb(128, 108, 243);
  touch-action: none;
  user-select: none;
  font-size: 12px;
  text-align: left;
  font-weight: 10;
}

#username {
  margin-bottom: 20px;
}

.window-icon {
  height: 25px;
}

/* ------------ Memory ----------- */
#memoryblock {
  margin-top: 20px;
  text-align: center;
}

.memory img {
  width: 80px;
}

#memory-icon {
  width: 30px;
}

.memory .removed {
  visibility: hidden;
}

#winnertext {
  z-index: 10;
  padding: 5px;
  text-align: center;
  position: absolute;
}

.memorysize {
  width: 60px;
  margin: 20px;
}

/* ------------- Drawing ------------ */

#drawing {
  z-index: 9;
}

#drawing p {
  text-align: left;
  font-size: 15px;
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 2px;
}
#drawingcanvas {
  background-color: blanchedalmond;
  position: relative;
}

#colorselect {
  float: left;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 0;
}