body, html {
  width: 100%;
  margin: 0;
}

#wrapper {
  background-color: aqua;
}

.bg {
  width: 100%;
  position: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dock {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.dock ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(180, 34, 34);
}

.dock li {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#moveme {
  position: absolute;
  z-index: 9;
  background-color: aqua;
  border: 1px solid black;
  text-align: center;
}

.moveheader {
  padding: 5px;
  z-index: 10;
  background-color: blueviolet;
  touch-action: none;
  user-select: none;
}

#memoryblock {
  margin-top: 30px;
  text-align: center;
}

.memory img {
  width: 80px;
}

#memory-icon {
  width: 30px;
}

.memory .removed {
  visibility: hidden;
}

#winnertext {
  z-index: 10;
  padding: 5px;
  text-align: center;
  position: absolute;
}

#closebutton {
  float: right;  
}